# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.paks

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
